$bgCol: #ddd;
$fund: 12px;
$full: 18px;

$h1f: $fund + 10;
$h2f: $fund + 6;
$h3f: $fund + 2;

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td {  
	margin:0; 
	padding:0; 
}

html {
	background-color: #ddd;
}

body {
	font-family: 'Vollkorn', serif;

	background:url('http://24ways.org/examples/compose-to-a-vertical-rhythm/underline.gif');
	background-color: #fff;
	font-size: $fund;
	margin:0 auto;
	padding:36px 72px 0 72px;

	width: $fund * 30;
	height: 25in;
}

li,h1,h2,h3,h4,h5,h6,pre,p,blockquote {  
	color: #333;
}

p {
	line-height: $full;
	text-align: justify;
	width: $fund * 30;
}

p + p {
	text-indent: 2.5em;
}

h2 + p:first-line {
	font-variant: small-caps;
}

h2 + p:first-letter {
	font-variant: normal;
	font-size: $full;
}

h1 {
	font-size: $h1f;
	line-height: $full*1.5;
	margin-top: 0;
	margin-bottom: $full*0.5;
}

h2 {
	font-size: $h2f;
	line-height: $full;
	margin-top: $full/2;
	margin-bottom: $full/2;
}

h3 {
	font-size: $h3f;
	line-height: $full;
	margin-top: $full/2;
	margin-bottom: $full/2;
}

a, a:visited {
	text-decoration: none;

	color: #000;
	font-weight: bold;
}

h1 {color: #333}

a:hover {
	color: #a32;
}

::selection, ::-moz-selection {
	background-color: #e81;
	color: #eff;
}