/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";

/* typography */
@import "compass/typography/links/link-colors";
@import "compass/typography/links/hover-link";
@import "compass/typography/vertical_rhythm";

/* css standard */
@import "compass/css3/border-radius";

/* base import */
@import "partials/base";

/* extras (fonts and syntax) */
@import url(http://fonts.googleapis.com/css?family=Vollkorn);

@import "syntax.scss";

/* start style */

$bg-bright: #fff;
$bg-dark: #ddd;

$primary: #a32;
$primary-dark: shade($primary, 80%);

html {
	/* font size is now linked to the stranded 3:5 fibonacci sequence */
	@include establish-baseline(16px);
	font-family: 'Vollkorn', serif;

	background-color: $bg-dark;
	height: 100%;
}

body {
	margin: 0 auto;
	padding: $base-line-height 1in 0 1in;
	width: 33em;
	height: 100%;

	background-color: $bg-bright;
}

a {
	@include hover-link;
	@include link-colors(#000, $primary, $primary, $primary-dark);
}

h1 {
	@include adjust-font-size-to(34px);

	position: absolute;
	background-color: #a32;
	color: #000;
	left: 0px;

	text-indent: 2.5em;
	@include border-radius(0 0.5em 0.5em 0);
	padding: $base-line-height/4 $base-line-height;
}

h2 {
	@include adjust-font-size-to(26px);
}

h3 {
	@include adjust-font-size-to(21px);
}

h4 {
	@include adjust-font-size-to(13px);
}

p:first-line {
	font-variant: small-caps;
	font-weight: bold;
}

p + p {
	text-indent: 2.5em;
	font-variant: normal;
	font-weight: normal;
}

li.nav {
	display: inline;
	padding-right: 2.5em;
}

li.nav:last-of-type {
	padding-right: 0;
}

#header {
	position:relative;
	left: -1in;
	height: $base-line-height*3;
}

#footer {
	position: absolute;
	bottom: -0.5in;
}