// This import applies a global reset to any page that imports this stylesheet.
@import "compass";
@import "compass/reset";

/* typography */
@import "compass/typography/links/link-colors";
@import "compass/typography/links/hover-link";
@import "compass/typography/vertical_rhythm";

/* base import */
@import "partials/base";

/* extras (fonts and syntax) */
@import "syntax.scss";

/* start style */

html {
  @include adjust-font-size-to(16px);
  font-family: 'Open Sans', Helvetica, sans-serif;
}

body {
  margin: auto;
  width: $total-width;
  color: #171717;

  position: relative;
}

#header {
  width: $sidebar-width;
  float: left;

  position: absolute;
  left: -1 * $gap-width;
}

#post, #footer {
  width: $content-width;
  float: right;
}

a {
  color: #000;
  text-decoration: none;
  @include link-colors($primary, $primary-dark);
}

#circle {
  background-color: $primary;
  border-radius: 50%;
  margin: 2em 1em;

  width: $sidebar-width * 0.60;
  height: $sidebar-width * 0.60;

  //Want to shrink circle on hover?
}

#title {
  @include adjust-font-size-to(42px);
  font-weight: 300;
  color: #000;
}

h1 {
  @include adjust-font-size-to(34px);
}

h2 {
  @include adjust-font-size-to(26px);
}

h3 {
  @include adjust-font-size-to(21px);
}

h4 {
  @include adjust-font-size-to(13px);
}

p + h1, p + h2, p + h3, p + p {
  @include leader;
}

em {
  font-style: italic;
}

blockquote {
  @include leader;
  @include trailer;

  margin-left: 1in;
  margin-right: 1in;

  font-style: italic;
}

.highlighttable {
  @include leader;
  @include trailer;

  padding: 0.5em;
  @include border-radius(5px);
}
