/* rythym settings */
$base-font-size: 16px;
$base-line-height: 24px;

$round-to-nearest-half-line: true;

/* base colors */
$bg-bright: hsl(40, 25, 97);
$bg-dark: #888;

$primary: #a32;
$primary-dark: shade($primary, 80%);