---
layout: default
---

<h4>{{ page.date | date_to_string }}</h4>
{{ content }}
<hr>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'bitlimn';
    var disqus_identifier = '{{ page.title }}';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view comments.</noscript>
<a href="http://disqus.com" class="dsq-brlink" rel="nofollow">comments powered by <span class="logo-disqus">Disqus</span></a>
